










# =========================
# =========================
# =========================
# Directories potentially created on remote AFP share
# Files that might appear on external disk
# Folder config file
# OSX
# Operating System Files
# Project files
# Recycle Bin used on file shares
# Thumbnails
# Windows Installer files
# Windows image file caches
# Windows shortcuts
$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msm
*.msp
*.suo
*.user
*.vspscc
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.apdisk
/publish
Desktop.ini
Network Trash Folder
Temporary Items
Thumbs.db
Web.Debug.config
Web.Release.config
ehthumbs.db
